---
layout: portfolio
---

<div id="about" class="kontainer">
<!-- disini about -->
  <div class="main">
    <div class="main">
      <h2 class="animasi-scroll-right">About Me.</h2>
      <div class="line-kontainer animasi-scroll-left"></div>
      <br />
      <p class="animasi-scroll-opacity">
        Hi, my name is Sutan Gading Fadhillah Nasution. I'm 19 years old from Palembang, Indonesia. <br>
        My passions are programming & design. <br>
        I currently work with HTML, CSS and some PHP, JavaScript. <br>
        I'm learning every day and aspiring to become a great front end developer. <br>
        Some day, I'd like to also expand from front-end to fullstack. <br>
        You may to check my repository on my Github or
        Visit my blog website.
      </p>
      <br />
      <a rel="noopener" class="a-button animasi-scroll-zoom" target="_blank" href="https://sutanlab.js.org">
        <i class="fa fa-book"></i>&nbsp;My Blog Site
      </a>
      <a rel="noopener" class="a-button animasi-scroll-zoom" target="_blank" href="https://github.com/sgnzst">
        <i class="fa fa-github"></i>&nbsp;My Github
      </a>
    </div>
  </div>
</div>
<div id="portfolio" class="kontainer parallax" style="background-image: url('{{site.baseurl}}/assets/img/desk2.jpg')">
  <div class="konten-tengah">
    <h1 class="animasi-scroll-left">PORTFOLIO</h1>
    <div class="line-parallax animasi-scroll-right"></div>
  </div>
</div>
<div class="kontainer">
<!-- disini cv -->
  <div class="main">
    <div class="kontainer-table">
      <h2 class="animasi-scroll-right">Curiculum Vitae.</h2>
      <div class="line-kontainer animasi-scroll-left"></div>
    </div>
    <div class="kontainer-table">
      <div class="box shadow box-col-2 animasi-scroll-right">
        <h4>Personal Details.</h4>
        <div class="line-kontainer-small"></div>
        <br />
        <p>
          Name : Sutan Gading Fadhillah Nasution <br><br>
          Address : Sersan Sani Street 1238, South Sumatera <br><br>
          Birth Date : 18 October 1998 <br><br>
          Gender : Male <br><br>
          Marital Status : Single <br><br>
          Religion : Moslem
        </p>
      </div>
      <div class="box shadow box-col-2 animasi-scroll-left">
        <h4>Educational Background.</h4>
        <div class="line-kontainer-small"></div>
        <br />
        <p>
          Kindergarten of Mazharul Iman <br><br>
          Elementary School 186 Palembang <br><br>
          Junior High School 10 Palembang <br><br>
          Computer Engineering & Networking at Vocational High School Muhammadiyah 1 Palembang <br><br>
          Computer Engineering at State of Polytechnic Sriwijaya Palembang <br><br>
        </p>
      </div>
      <div class="box shadow box-col-2 animasi-scroll-left" style="background-image: url('{{site.baseurl}}/assets/img/polsri.jpg') ">
        <h4>My Details in Polytechnic Sriwijaya.</h4>
        <div class="line-kontainer-small"></div>
        <br />
        <p>
          Name : Sutan Gading Fadhillah Nasution <br><br>
          NIM : 061630700551 <br><br>
          Class : 4 CB <br><br>
          Major : Computer Engineering DIII <br><br>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div id="works" class="kontainer">
  <div class="main">
    <div class="kontainer">
      <h2 class="animasi-scroll-right">My Works.</h2>
      <div class="line-kontainer animasi-scroll-left"></div>
    </div>
    <div class="kontainer kontainer-table">
      { }
        <div class="box shadow box-col-3 animasi-scroll-zoom">
          <div class="works-pic">
            <img src="{ }" alt="Image Not Loaded">
          </div>
          <div class="works-desc">
            <h4>sgnzstLabs.</h4>
            <div class="line-kontainer-small"></div>
            <br />
            <a class="a-button" target="_blank" href="{ }">
              <i class="fa fa-globe"></i>&nbsp;Website
            </a>
            <a class="a-button disabled" target="_blank">
              <i class="fa fa-github"></i>&nbsp;Github
            </a>
          </div>
        </div>
      { }
    </div>
  </div>
</div> -->

<div id="report" class="kontainer parallax" style="background-image: url('{{site.baseurl}}/assets/img/desk3.jpg')">
  <div class="konten-tengah">
    <h1 class="animasi-scroll-right">REPORT</h1>
    <div class="line-parallax animasi-scroll-left"></div>
  </div>
</div>

<div class="kontainer">
  <div class="main">
    <div class="kontainer-table">
      <h2 class="animasi-scroll-right">Network Programming.</h2>
      <div class="line-kontainer animasi-scroll-left"></div>
    </div>

    <div id="network-programming" class="kontainer-table">

    </div>
    <!-- <div id="loadMore-kontainer" class="main" style="text-align: center;">
      <a id="loadMore" class="a-button animasi-scroll-zoom" type="button">
        LOAD MORE ...
      </a>
    </div> -->

  </div>
</div>

<div id="contact" class="kontainer parallax" style="background-image: url('{{site.baseurl}}/assets/img/desk4.jpg')">
  <div class="konten-tengah">
    <h1 class="animasi-scroll-left">CONTACT</h1>
    <div class="line-parallax animasi-scroll-right"></div>
  </div>
</div>
