<footer>
<!-- disini footer -->
  <div class="kontak-teks">
    <h2 class="animasi-scroll-top">Find Me.</h2>
    <div class="line-kontainer animasi-scroll-left"></div>
    <br />
    <h4>Feel free to find or contact me through any of the links below.</h4>
  </div>
  <div id="kontak">
    <a rel="noopener" target="_blank" href="https://github.com/sgnzst/">
      <i class="fa fa-github"></i>
    </a>
    <a rel="noopener" target="_blank" href="https://www.instagram.com/sutan_gnst/">
      <i class="fa fa-instagram"></i>
    </a>
    <a rel="noopener" target="_blank" href="https://www.facebook.com/sgnzst/">
      <i class="fa fa-facebook-square"></i>
    </a>
    <a rel="noopener" target="_blank" href="https://www.youtube.com/channel/UC7StNs0sL-j4GiZ1OYVklZA">
      <i class="fa fa-youtube"></i>
    </a>
    <a rel="noopener" href="mailto:sutan.gnst@gmail.com">
      <i class="fa fa-envelope"></i>
    </a>
  </div>
  <div class="legal">
    <p>
      Copyright &copy; 2018 <b>Codename: sgnzst</b>
      <br />
      All Rights Reserved.
    </p>
  </div>
</footer>
